@import '../../main.scss';

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-background-color;
    box-sizing: border-box;
    height: 100%;

    .team_title{
        font-family: "Cy Grotesk";
        font-size: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .team_list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }

    .team_card{
        display: flex;
        align-items: center;
        
    }

    .team_card_fill{

    }

    .team_card_img{
        height: 100%;
        border-radius: 1rem;
    }

    .team_card_name{
        font-size: 9rem;
        font-weight: 700;
        color: $primary-text-color;
    }

    .team_card_text{
        font-size: 5rem;
        font-weight: 400;
        color: $primary-text-color;
    }

}