@import '../../main.scss';

.team{
    display: flex;
    justify-content: center;
    background-color: $main-background-color;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    padding: 30px;

    margin-bottom: 7vh;   

    @media (max-width:1100px) {
      padding: 10px;
    }

    @media (max-width:1024px) {
      
      }

    @media (max-width:768px) {
      
      width: 100%;
        
      }

    @media (max-width:550px) {
    
        }
    
    

    .team_title{
        font-family: "Cy Grotesk";
        font-size: 120px;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .team_section{
        display: flex;
        
        

        @media (max-width:768px) {
			  
        flex-direction: column-reverse;
        justify-content: space-evenly;
		  }
    }
    

    .team_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: 'Termina';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        
        text-align: justify;
        align-items: center;
        text-transform: uppercase;

        width: 100%;

        padding: 40px;
        
		  @media (max-width:1300px) {
			font-size: 18px;
			
		  }  

		@media (max-width:1024px) {
			font-size: 15px;
			padding: 20px;
		  }

		@media (max-width:768px) {
			padding: 0px;
          }
		
		@media (max-width:550px) {
			
		  }

		  @media (max-width:500px) {
			
		  }
    }    

    .team_text_paragraph{
        
        @media (max-width:550px) {
            padding-bottom: 10px;
          }

        &:last-child{
            padding-top: 30px;

            @media (max-width:550px) {
                padding-top: 10px;
              }

        }
    }

    .team_photo_wrapper{
        padding-left: 60px;

        max-height: 100%;
        width: 100%;


        display: flex;
        
      

        @media (max-width:1024px) {
			padding-left: 30px;
			
		  }

		@media (max-width:768px) {
			padding-left: 0px;
      padding-bottom: 20px;
          }
		
		@media (max-width:550px) {

      
		  }

    }

    .team_photo{
        border: solid;
        border-radius: 10px;

        // height: 800px;
        width: 100%;

        @media (max-width:550px) {
			height: auto;
		  }
    }
}