@import '../../main.scss';


.projects{
    
	display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $main-background-color;

    box-sizing: border-box;
    height: 100%;

    .projects_content{
        display: flex;
        width: 100%;
        align-items: center;
        // position: absolute;

        padding: 7rem 0rem;
    }

    .swiper_projects{
        padding: 0rem 10rem ;
    }

    .projects_title{
        font-family: "Termina";
        font-size: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .projects_filter{
        display: flex;
        // justify-content: space-between;
        margin: 2rem 0px  ;
		
    }

    .projects_filter_button{
        color: $main-background-color;
        border-style: solid;
        border-color: $primary-text-color ;
        border-radius: 3rem;
        background-color: $primary-text-color;
        // padding: 6px 22px;

        &:not(:last-child) {
			margin-right: 2.5rem;
		  } 

          &:hover {
            background-color: $main-background-color;
            color: $primary-text-color ;
            border-color: $primary-text-color ;
            border: solid;
            transition: 0.3s;
        }
    }

    .projects_filter_btn{
        font-family: "Termina";
        font-size: 3rem;
        font-weight: 500;
        padding: 1rem 2.5rem;
        // color: $primary-text-color;
    }

    .projects_img_border{
        height: 78rem;
        width: 100%;
        border: solid;
        border-radius: 1rem;
    }

    .projects_img{
        width: 100%;
        max-height: 100%;
        
        // border-radius: 10px;
    }

    .projects_describ{
        // padding-left: 50px;
        display: flex;
        // justify-content: center;
        // align-items: center;

    }

    .projects_describ_text{
        display: flex;
        justify-content: center;
    }

    .projects_describ_title{
        font-family: "Termina";
        font-size: 90px;
        font-weight: 700;
        color: $primary-text-color;
    }

    .projects_describ_info{
        font-family: "Termina";
        font-size: 30px;
        font-weight: 500;
        
    }

   
    // .projects_describ_arrow_wrapper{
        
    // }


    .projects_describ_arrow{
        
        transform: rotate(90deg);
        margin-top: 100px;
        height: 70%;
    }

    .swiper {
        width: 600px;
        height: 300px;
      }
}

