@import '../main.scss';

.header_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;


    height: 100%;
    
    // TEXT LOGO
    font-family: 'Cy Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 200px;
    line-height: 240px;

    @media (max-width:1024px) {
        padding: 1rem;

      }

    @media (max-width:767px) {
        padding: 0.5rem;
      }
    
    @media (max-width:500px) {
        padding: 0.3rem;
        
      }


    &_img{
     
    }
}