@import '../main.scss';


.header {
	padding: 20px 40px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: $main-background-color;

	.nav{
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: center;
	}
	
	.nav_item{
		display: flex;
  		align-items: center;
		flex-grow: 1;
		&:not(:last-child) {
			margin-right: 70px;
		  }
	}

	.nav_menu_logo{
		height: 100%;
	}

	.nav_menu_btn{
		font-family: inherit;
  		font-weight: 500;
  		font-size: 40px;
  		line-height: calc(14 / 12);
  		text-decoration: none;
  		text-transform: uppercase;

		width: 100%;
		text-align: center;
      	color: $primary-text-color;

		  &:hover {
			color: $hover-btn-color;
		  }
	}

	

	
}

