@import '../../main.scss';

.main{
      // background-color: $primary-text-color;
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
    
    .main_services{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      
    }

    .main_logo_img{
      
    }

    // .main_section_text{

    //   display: inline;
    //   font-family: "Gilroy";
    //   text-transform: uppercase;
    //   font-size: 40px;
    //   font-weight: 500;
    //   color: $primary-text-color;
    // }

    // .main_section_text2{
        
    //   float: right;
    //   font-family: "Gilroy";
    //   text-transform: uppercase;
    //   font-size: 40px;
    //   font-weight: 500;
    //   color: $primary-text-color;
    // }

}