@import '../main.scss';


.footer{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: $primary-text-color;

    // position: fixed;
    // bottom: 0;
    // height: 5vh; // alternative

    height: 8vh;

    padding: 1rem 10rem;
    
    width: 100%;

    

      @media (max-width:1100px) {
        
        // height: 100%;
      }

      @media (max-width:1024px) {
        // height: 5rem;
        padding: 1rem 1rem;
        // height: 100%;

      }

      @media (max-width:767px) {
        // height: 5rem;
        padding: 0.7rem 0.7rem;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        // height: 100%;

      }

      
    
      @media (max-width:500px) {
        display: flex;
        align-items: center;
        height: 100%;
       
      }
    
      


    .talk_btn_text{
        font-family: 'Cy Grotesk';
        font-size: 20rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $primary-text-color;
    }

    .footer_info{
        display: flex;
        width: 100%;
        height: 100%;
        text-transform: uppercase;

        
        justify-content: center;

        @media (max-width:500px) {
            // display: inline-block;
            
          }
        
    }
    
    .footer_menu{
      display: flex; 
      justify-content: space-between;
      width: 100%;

      @media (max-width:500px) {
        display: inline-block;
        
      }
      
    }

    .footer_menu_link{
      display: flex; 
      // justify-content: space-between;
      // width: 100%;

      
    }

    .footer_menu_link_text{
      font-family: 'Termina';
      font-style: normal;
      font-weight: 700;
      font-size: 9rem;
      line-height: 47px;
      display: flex;
      align-items: center;

      color: $main-background-color;

      // width: 100%;
      // height: 100%;
      
      &:hover {
        text-decoration: underline;
        // color: $primary-text-color;
        
          }

          @media (max-width:1600px) {
            font-size: 8rem;
          }

          @media (max-width:1400px) {
            font-size: 7rem;
          }

          @media (max-width:1200px) {
            font-size: 5rem;
          }
    
          @media (max-width:1024px) {
            font-size: 1.7rem;
          }
    
          @media (max-width:767px) {
            font-size: 1rem;
          }  
          
          @media (max-width:650px) {
            
            font-size: 0.8rem;
          }

          @media (max-width:550px) {
            
            font-size: 0.7rem;
          }

          @media (max-width:500px) {
            
            
          }

    }

    
}
