@import '../../main.scss';

.services{
    display: flex;
    justify-content: center;
    
    
    
    background-color: $main-background-color;

    box-sizing: border-box;
    height: 100%;

    padding: 30px;

    @media (max-width:1100px) {
      padding: 10px;
    }

    @media (max-width:1024px) {
      
      }

    @media (max-width:768px) {
      width: 100%;
        
      }
    
    @media (max-width:500px) {
      width: 100%;
      }


    .services_wrapper{
        height: 100%;
        width: 100%;
    }

    .services_title{
        
    }

    // .services_subtitle{
    //     font-family: "Gilroy";
    //     text-transform: uppercase;
    //     font-size: 10px;
    //     font-weight: 500;
    //     color: $primary-text-color;


    //     padding: 40rem 0;  // remove after

    //     display: flex;
    //     align-items: center;
    //     text-align: center;
    //     justify-content: center;

    // }

    .services_list{
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 7rem;
        display: flex;

        @media (max-width:768px) {
			  display: block;
		    }
        
    }

    .services_card{
        display: flex;

        height: 100%;
        width: 100%;
        border: solid;
        
        margin-right: 20px;

        background-color: $primary-text-color;
        color: $main-background-color;
        border-radius: 10px;

        @media (max-width:1024px) {
			  
		    }

		    @media (max-width:768px) {
          margin-bottom: 10px;
        }
		
		    @media (max-width:550px) {
          
		    }

		    @media (max-width:500px) {
			
		    }

        &:last-child{
            margin-right: 0rem;
        }

        &:hover {
            background-color: $main-background-color;
            color: $primary-text-color;
            border: solid;
            transition: 0.3s;
        }


        
    }

    .services_card_content{
        height: 100%;
        width: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;

        @media (max-width:767px) {
			  padding: 10px;
        }

          
    }

    .services_card_title{
        display: flex;
        

        font-family: 'Roboto Flex';
        font-style: normal;
        font-weight: 1000;
        font-size: 96px;

        text-transform: uppercase;
        
        display: flex;
        

        padding-bottom: 10px;

        @media (max-width:1850px) {
          font-size: 70px;
        } 

        @media (max-width:1650px) {
          font-size: 60px;
        } 
        
		    @media (max-width:1450px) {
        font-size: 50px;
		    }  

        @media (max-width:1250px) {
          font-size: 40px;
          }  

		    @media (max-width:1024px) {
			    font-size: 30px;
			
		    }

		    @media (max-width:768px) {
			    font-size: 40px;
          padding-bottom: 1rem;
          }
		
		  @media (max-width:550px) {
        
		  }

		  
    }

    .services_card_text_wrapper{
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;

        @media (max-width:550px) {
			// flex-direction: row;
            justify-content: space-around;
		  }
     
    }

    .services_card_text{
        display: flex;
        
        
        font-family:'Roboto Flex';
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-style: normal;

        &:not(:last-child){
          padding-bottom: 15px;
        }

       
        @media (max-width:1850px) {
          font-size: 27px;
        } 

        @media (max-width:1650px) {
          font-size: 25px;
        } 

        @media (max-width:1450px) {
          font-size: 23px;
        } 

        @media (max-width:1250px) {
          font-size: 20px;
          }  
  
		  @media (max-width:768px) {
        font-size: 23px;
			padding-bottom: 10px;
          }
		
		  @media (max-width:550px) {
			
      
		  }

		  
    }

}