@import '../../main.scss';

.services{
    
    background-color: $main-background-color;

    box-sizing: border-box;
    height: 100%;

    .services_wrapper{

    }

    .services_title{
        font-family: "Cy Grotesk";
        font-size: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .services_subtitle{
        font-family: "Gilroy";
        text-transform: uppercase;
        font-size: 10rem;
        font-weight: 500;
        color: $primary-text-color;


        padding: 40rem 0;  // remove after

        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
}